.logo {
    width: 100px;
    height: 100px;
    border-radius: 39px;
    -webkit-border-radius: 39px;
    -moz-border-radius: 39px;
    background: url('../static/img/sfj_profile.png') no-repeat;
    position: absolute;
    left: 10px;
    top: 10px;
}

.runner {
    position: absolute;
    top: 120px;
    left: 58px;
    width: 5px;
    bottom: 160px;
    /*height: 50%;*/
    /*height: -moz-calc(100% - 80px);
    height: -webkit-calc(100% - 80px);
    height: calc(100% - 350px);*/
    background: -webkit-linear-gradient(#B8B8B8, #CCC, #FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#B8B8B8, #CCC, #FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#B8B8B8, #CCC, #FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B8B8B8, #CCC, #FFF); /* Standard syntax */
}

footer {
    padding-top: 30px;
    font-size: 14px;
}

body {
    padding-left:85px;
    padding-bottom:100px;
    /*width:700px;*/
    top:0;
    /*font-family: 'Open Sans',sans-serif;*/
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}

.content-wrapper {
    padding-top: 100px;
}

.site-title {
    font-size: 70px;
}

.link-button {
    color: black !important;
    text-decoration: none;
}

.projects li {
    padding-left: 50px;
}

.projects ul {
    list-style-type: none;
}
.projects .page-heading {
    color: #808080;
}

.projects a {
    color: #000;
    text-decoration:none;
    border-bottom: 1px solid #CCC;
    font-family: 
}

.projects a:hover {
    color:inherit;
    border-bottom: 1px solid #888;
}

p {
    text-indent: 50px;
}

a {
    text-decoration: underline;
}

.hr-faded {
  clear: both; 
  float: none; 
  height: 1px;
  margin: 1.4em 0;
  border: none; 
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0, rgb(255,255,255)),
      color-stop(0.1, rgb(221,221,221)),
      color-stop(0.9, rgb(221,221,221)),
      color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      left center,
      rgb(255,255,255) 0%,
      rgb(221,221,221) 10%,
      rgb(221,221,221) 90%,
      rgb(255,255,255) 100%
  );
}