.logo {
    width: 100px;
    height: 100px;
    border-radius: 39px;
    -webkit-border-radius: 39px;
    -moz-border-radius: 39px;
    background: url('../static/img/sfj_profile.png') no-repeat;
    position: absolute;
    left: 10px;
    top: 10px;
}

.runner {
    background-color:#CCC;
    position: absolute;
    top: 120px;
    left: 58px;
    width: 5px;
    bottom: 160px;
}

body {
    padding-left:85px;
    padding-bottom:100px;
    position:absolute;
    width:700px;
    top:0;
    font-family: 'Open Sans',sans-serif;
}

.content-wrapper {
    padding-top: 100px;
}