<footer id="footer">
    <center>
        <div class="container text-center">
            <div class="hr-faded"></div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    &copy; 2014 Samuel Jordan
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <a href="/">Home</a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <a target="_blank" href="mailto:sfjordan@princeton.edu">Email</a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <a target="_blank" href="http://www.facebook.com/samfjordan">Facebook</a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <a target="_blank" href="http://www.github.com/sfjordan">GitHub</a>
                </div>
        </div>
    </center>
</footer>